body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1,
h2 {
  text-align: center;
  color: hsl(0, 0%, 0%);
  margin-bottom: 20px;
}
h3 {
  margin-top: 30px;
  color: hsl(0, 0%, 0%);
}
table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #000000;
  color: white;
}
tr:hover {
  background-color: #f1f1f1;
}
.footer {
  text-align: center;
  margin-top: 50px;
  color: #777;
}
p.justify {
  text-align: justify;
}
.profile-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}
